body
{ 
  background:  /* #34251e; */ #161413;
}

.menu table, .main table
{ 
  border-spacing: 0;
}

.menu td, .main td { padding: 0 }

a:active, a:focus 
{ 
  color: transparent;
}

div.menu, div.main, div.footer { width: 1024px }

div.main
{ 
  background: url("/static/img/content.png") no-repeat, 
  url("/static/img/content-bottom.png") repeat-y;
  height: 800px;
}

div.content
{  
  margin: 40px 150px;
  /* border: 1px yellow solid; */
  overflow: hidden;
  }
