body
{
  background:  /* #34251e; */ #161413;
}

.menu table, .main table
{ 
  border-spacing: 0;
  border-collapse: collapse; /* fix for ie7 */
}

.menu td, .main td { padding: 0 }

table img { border: 0 } /* for ie8, ie9 */

a:focus
{ 
  color: transparent;
}

a { outline: none } /* remove dotted border around links */

div.menu, div.main, div.main-wrapper, div.footer { width: 1024px }

div.main-wrapper
{ 
  border: 1px #161413 solid;
  background: url("/static/img/content_bottom.png") repeat-y;
}

div.main
{ 
  background: url("/static/img/content_top.png") no-repeat;
  min-height: 714px;
}

div.content
{  
  margin: 20px 150px;
  overflow: hidden;
  }

div.home { position: relative }
div#announcements
{
  position: absolute;
  bottom: 392px;
  right: 40px;
  height: 100px;
  width: 222px;
  color: orange;
  overflow: hidden;
}

#announcements a 
{ 
  color: orange;
  text-decoration: none;
  font-size: smaller;
}