div.entries
{ 
  /* border: 1px red solid; */
  /* background: #c19a72; */
  text-align: justify;
  font-weight: normal;
  padding: 10px;
  color: orange;
}

.feedback th { padding-right: 5px; }

iframe.video
{ 
  border: silver 1px solid; 
  margin: 10px;
}

.entries a:focus { color: silver; }
