img.image-detail
{
  padding: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 2px silver solid;
  float: left;
  }

img.image-gallery
{
  padding: 0px;
  margin: 8px;
  border: 2px silver solid;
  float: left;
  vertical-align: middle;
  }


img.image-detail:hover, img.image-gallery:hover
{ 
  border: 2px #00f solid;
}

.photo-gallery 
{ text-align: center;
 }

.description
{
  width: 75%;
  }

h1 + h2
{ 
  margin-top: -10px;
}

.gallery-title
{ 
  text-align: center;
}