div.gallery
{ 
  width: 210px;
  height: 230px;
  border: 1px silver solid;
  background-color: #463a29;
  margin: 13px;
  float: left;
  position: relative;
}

img.gallery
{ 
  border: 1px #ae2525 solid;
  margin: 10px;
}

img.gallery:hover
{
  border: 1px #00f solid;
}

p.gallery
{ 
  width: 210px;
  height: 30px;
  position: absolute;
  font-size: medium;
  top: 190px;
  text-align: center;
  overflow: hidden;
  color: orange;
 }

.actor img
{
  float: left; 
  border: 1px silver solid;
  margin: 10px;
}

.actor h2, .actor h3, .actor p
{ 
  text-align: left;
}

.actor { color: orange }

img.photo
{ 
  border: 1px silver solid;
  }

.pages { clear: left; padding: 5px; }
.pages a, .pages span
{ 
  border: silver 1px solid;
  padding: 3px;
 }

.pages a 
{ 
  background: #463a29;
  color: orange;
  text-decoration: none;
}

.pages span { color: silver }

.pages a:hover { background: gray; }
