<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/articles.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/gallery.css"/>
    <script type="text/javascript" src="/static/js/rollover.js"></script>
  </head>
  <body>
    <div class="visible" align="center">
      <div class="menu">
        <table>
          <tr>
            {% for section in sections %}
            <td><a href="/{{section}}">
                <img src="/static/img/menu/
{% if current_section == section %}
active
{% else %}
normal
{% endif %}/{{section}}.png"
                     rollover="/static/img/menu/focus/{{section}}.png"/></a>
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
      <div class="main">{% block main %}{% endblock %}</div>
      <div class="footer"></div>
    </div>
  </body>
</html>
