{% extends "content.html" %}
{% load photologue_tags %}
{% block content %}
{% if objects %}
{% for object in objects %}
  <div class="actors">
    {% if object.sample %}
    <a href="{% url gallery object.title_slug %}">
      <img class="actors" src="{{ object.sample.0.get_small_portrait_url }}"/>
    {% else %}
      {% if current_gallery == "actors" %}
      <a href="{% url actor object.title_slug %}">
      {% else %}
      <a href="{% url photo gallery=current_gallery photo=object.title_slug %}">
      {% endif %}
      <img class="actors" src="{{ object.get_small_portrait_url }}"/>
    {% endif %}
    </a>
    <p class="actors">{{ object.title }}</p>
  </div>
{% endfor%}
{% else %}
  <img src="{{ photo.get_display_url }}"/>
  {% for gallery in photo.public_galleries %}
  {% previous_in_gallery photo gallery %} <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> {%next_in_gallery photo gallery%}
    {% endfor %}
{% endif %}
{% endblock %}



