{% extends "base.html" %}
{% block title %}Плейбек театр "Парафраз"{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
{% endblock %}
{% block main %}
<div class="home">
<table>
  <tr>
    <td><a href="/videos"><img src="/static/img/home/normal/1-1.png" rollover="/static/img/home/focus/1-1.png"/></a></td>
    <td><img src="/static/img/home/normal/1-2.png"/></td>
    <td><img src="/static/img/home/normal/1-3.png"/></td>
    <td><img src="/static/img/home/normal/1-4.png"/></td>
    <td><img src="/static/img/home/normal/1-5.png"/></td>
    <td><img src="/static/img/home/normal/1-6.png"/></td>
    <td><img src="/static/img/home/normal/1-7.png"/></td>
    <td><img src="/static/img/home/normal/1-8.png"/></td>
    <td><img src="/static/img/home/normal/1-9.png"/></td>
    <td><img src="/static/img/home/normal/1-10.png"/></td></tr>
  <tr>
    <td><a href="/videos">
        <img src="/static/img/home/normal/2-1.png" rollover="/static/img/home/focus/2-1.png"/></a></td>
    <td><a href="/videos"><img src="/static/img/home/normal/2-2.png" rollover="/static/img/home/focus/2-2.png"/></a></td>
    <td><img src="/static/img/home/normal/2-3.png"/></td>
    <td><img src="/static/img/home/normal/2-4.png"/></td>
    <td><img src="/static/img/home/normal/2-5.png"/></td>
    <td><img src="/static/img/home/normal/2-6.png"/></td>
    <td><img src="/static/img/home/normal/2-7.png"/></td>
    <td><img src="/static/img/home/normal/2-8.png"/></td>
    <td><img src="/static/img/home/normal/2-9.png"/></td>
    <td><img src="/static/img/home/normal/2-10.png"/></td></tr>
  <tr><td><a href="/videos"><img src="/static/img/home/normal/3-1.png" rollover="/static/img/home/focus/3-1.png"/></a></td>
    <td><a href="/videos"><img src="/static/img/home/normal/3-2.png" rollover="/static/img/home/focus/3-2.png"/></a></td>
    <td><img src="/static/img/home/normal/3-3.png"/></td>
    <td><a href="/contacts"><img src="/static/img/home/normal/3-4.png" rollover="/static/img/home/focus/3-4.png"/></a></td>
    <td><a href="/contacts"><img src="/static/img/home/normal/3-5.png" rollover="/static/img/home/focus/3-5.png"/></a></td>
    <td><a href="/contacts"><img src="/static/img/home/normal/3-6.png" rollover="/static/img/home/focus/3-6.png"/></a></td>
    <td><img src="/static/img/home/normal/3-7.png"/></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/3-8.png" rollover="/static/img/home/focus/3-8.png"/></a></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/3-9.png" rollover="/static/img/home/focus/3-9.png"/></a></td>
    <td><img src="/static/img/home/normal/3-10.png"/></td></tr>
  <tr><td><a href="/videos"><img src="/static/img/home/normal/4-1.png" rollover="/static/img/home/focus/4-1.png"/></a></td>
    <td><a href="/videos"><img src="/static/img/home/normal/4-2.png" rollover="/static/img/home/focus/4-2.png"/></a></td>
    <td><img src="/static/img/home/normal/4-3.png"/></td>
    <td><img src="/static/img/home/normal/4-4.png"/></td>
    <td><img src="/static/img/home/normal/4-5.png"/></td>
    <td><img src="/static/img/home/normal/4-6.png"/></td>
    <td><img src="/static/img/home/normal/4-7.png"/></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/4-8.png" rollover="/static/img/home/focus/4-8.png"/></a></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/4-9.png" rollover="/static/img/home/focus/4-9.png"/></a></td>
    <td><img src="/static/img/home/normal/4-10.png"/></td></tr>
  <tr><td><a href="/videos"><img src="/static/img/home/normal/5-1.png" rollover="/static/img/home/focus/5-1.png"/></a></td>
    <td><img src="/static/img/home/normal/5-2.png"/></td>
    <td><img src="/static/img/home/normal/5-3.png"/></td>
    <td><a href="/actors"><img src="/static/img/home/normal/5-4.png" rollover="/static/img/home/focus/5-4.png"/></a></td>
    <td><img src="/static/img/home/normal/5-5.png"/></td>
    <td><img src="/static/img/home/normal/5-6.png"/></td>
    <td><img src="/static/img/home/normal/5-7.png"/></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/5-8.png" rollover="/static/img/home/focus/5-8.png"/></a></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/5-9.png" rollover="/static/img/home/focus/5-9.png"/></a></td>
    <td><img src="/static/img/home/normal/5-10.png"/></td></tr>
  <tr><td><img src="/static/img/home/normal/6-1.png"/></td>
    <td><img src="/static/img/home/normal/6-2.png"/></td>
    <td><img src="/static/img/home/normal/6-3.png"/></td>
    <td><a href="/actors"><img src="/static/img/home/normal/6-4.png" rollover="/static/img/home/focus/6-4.png"/></a></td>
    <td><img src="/static/img/home/normal/6-5.png"/></td>
    <td><img src="/static/img/home/normal/6-6.png"/></td>
    <td><img src="/static/img/home/normal/6-7.png"/></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/6-8.png" rollover="/static/img/home/focus/6-8.png"/></a></td>
    <td><a href="/announcements"><img src="/static/img/home/normal/6-9.png" rollover="/static/img/home/focus/6-9.png"/></a></td>
    <td><img src="/static/img/home/normal/6-10.png"/></td></tr>
  <tr><td><img src="/static/img/home/normal/7-1.png"/></td>
    <td><img src="/static/img/home/normal/7-2.png"/></td>
    <td><img src="/static/img/home/normal/7-3.png"/></td>
    <td><a href="/actors"><img src="/static/img/home/normal/7-4.png" rollover="/static/img/home/focus/7-4.png"/></a></td>
    <td><img src="/static/img/home/normal/7-5.png"/></td>
    <td><img src="/static/img/home/normal/7-6.png"/></td>
    <td><img src="/static/img/home/normal/7-7.png"/></td>
    <td><img src="/static/img/home/normal/7-8.png"/></td>
    <td><img src="/static/img/home/normal/7-9.png"/></td>
    <td><img src="/static/img/home/normal/7-10.png"/></td></tr>
  <tr><td><img src="/static/img/home/normal/8-1.png"/></td>
    <td><img src="/static/img/home/normal/8-2.png"/></td>
    <td><img src="/static/img/home/normal/8-3.png"/></td>
    <td><a href="/actors"><img src="/static/img/home/normal/8-4.png" rollover="/static/img/home/focus/8-4.png"/></a></td>
    <td><img src="/static/img/home/normal/8-5.png"/></td>
    <td><a href="/articles"><img src="/static/img/home/normal/8-6.png" rollover="/static/img/home/focus/8-6.png"/></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/8-7.png" rollover="/static/img/home/focus/8-7.png"/></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/8-8.png" rollover="/static/img/home/focus/8-8.png"/></a></td>
    <td><img src="/static/img/home/normal/8-9.png"/></td>
    <td><img src="/static/img/home/normal/8-10.png"/></td></tr>
  <tr><td><img src="/static/img/home/normal/9-1.png"/></td>
    <td><img src="/static/img/home/normal/9-2.png"/></td>
    <td><img src="/static/img/home/normal/9-3.png"/></td>
    <td><a href="/actors"><img src="/static/img/home/normal/9-4.png" rollover="/static/img/home/focus/9-4.png"/></a></td>
    <td><img src="/static/img/home/normal/9-5.png"/></td>
    <td><a href="/articles"><img src="/static/img/home/normal/9-6.png" rollover="/static/img/home/focus/9-6.png"/></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/9-7.png" rollover="/static/img/home/focus/9-7.png"/></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/9-8.png" rollover="/static/img/home/focus/9-8.png"/></a></td>
    <td><a href="/photos"><img src="/static/img/home/normal/9-9.png" rollover="/static/img/home/focus/9-9.png"/></a></td>
    <td><img src="/static/img/home/normal/9-10.png"/></td></tr>
  <tr><td><img src="/static/img/home/normal/10-1.png"/></td>
    <td><img src="/static/img/home/normal/10-2.png"/></td>
    <td><img src="/static/img/home/normal/10-3.png"/></td>
    <td><img src="/static/img/home/normal/10-4.png"/></td>
    <td><img src="/static/img/home/normal/10-5.png"/></td>
    <td><a href="/articles"><img src="/static/img/home/normal/10-6.png" rollover="/static/img/home/focus/10-6.png"
                                  /></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/10-7.png" rollover="/static/img/home/focus/10-7.png"
                                  /></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/10-8.png" rollover="/static/img/home/focus/10-8.png"/></a></td>
    <td><a href="/photos"><img src="/static/img/home/normal/10-9.png" rollover="/static/img/home/focus/10-9.png"/></a></td>
    <td><img src="/static/img/home/normal/10-10.png"/></td></tr>
  <tr><td><a href="/feedbacks"><img src="/static/img/home/normal/11-1.png" rollover="/static/img/home/focus/11-1.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/11-2.png" rollover="/static/img/home/focus/11-2.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/11-3.png" rollover="/static/img/home/focus/11-3.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/11-4.png" rollover="/static/img/home/focus/11-4.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/11-5.png" rollover="/static/img/home/focus/11-5.png"/></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/11-6.png" rollover="/static/img/home/focus/11-6.png"
                                  /></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/11-7.png" rollover="/static/img/home/focus/11-7.png"
                                  /></a></td>
    <td><a href="/articles"><img src="/static/img/home/normal/11-8.png" rollover="/static/img/home/focus/11-8.png"/></a></td>
    <td><a href="/photos"><img src="/static/img/home/normal/11-9.png" rollover="/static/img/home/focus/11-9.png"/></a></td>
    <td><img src="/static/img/home/normal/11-10.png"/></td></tr>
  <tr><td><a href="/feedbacks"><img src="/static/img/home/normal/12-1.png" rollover="/static/img/home/focus/12-1.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/12-2.png" rollover="/static/img/home/focus/12-2.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/12-3.png" rollover="/static/img/home/focus/12-3.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/12-4.png" rollover="/static/img/home/focus/12-4.png"/></a></td>
    <td><a href="/feedbacks"><img src="/static/img/home/normal/12-5.png" rollover="/static/img/home/focus/12-5.png"/></a></td>
    <td><img src="/static/img/home/normal/12-6.png"/></td>
    <td><img src="/static/img/home/normal/12-7.png"/></td>
    <td><img src="/static/img/home/normal/12-8.png"/></td>
    <td><a href="/photos"><img src="/static/img/home/normal/12-9.png" rollover="/static/img/home/focus/12-9.png"/></a></td>
    <td><img src="/static/img/home/normal/12-10.png"/></td></tr>
</table>
<div id="announcements">
  <a href="/announcements">
    {% for entry in entries %}
    {% if forloop.last %}
    {{ entry.text|truncatewords:18 }}
    {% endif %}
    {% endfor %}</a></div>
</div>
{% endblock %}
