{% extends "content.html" %}
{% load markup %}
{% load photologue_tags %}
{% block content %}
{% if current_section == "actors" %}
<div class="actor">
  <img class="actor" src="{{ photo.get_actor_url }}"/>
  <h2>{{ photo.title }}</h2>
  {{ photo.caption|textile }}
</div>
{% else %}
<div class="links">
  <table>
    <tr>
      <td></td><td></td>
      <td>
        <a href="{% url gallery_page gallery page_number %}">
          <img src="/static/img/red_cross.png"/>
        </a></td></tr>
    <tr>
      <td>
        {% if prev_in_gallery %}
        <a href="{% url photo gallery prev_in_gallery.title_slug %}">
          <img src="/static/img/red_solid_arrow_reverse.png"/></a>
        {% endif %}
        </td>
      <td><img class="photo" src="{{ photo.get_display_url }}"/></td>
      <td>{% if next_in_gallery %}
        <a href="{% url photo gallery next_in_gallery.title_slug %}">
          <img src="/static/img/red_solid_arrow.png"/></a>
        {% endif %}
      </td>
  </tr></table>
</div>
{% endif %}
{% endblock %}
